# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
env/
venv/
kafka_python_venv/
*.env
*.log
*.swp
*.swo
*.sqlite3
log/
logs/
/tripinfo.xml
python/utils/config.yaml

# IDEs and editors
.idea/
.vscode/

# TAF
*.csv

.DS_Store
